.closed{
    right: 450px;
    width: 1535px;
    height: 100vh;
    position: fixed;
 
    direction: rtl;
    top:50px;
}
.all{
    display: flex;
}
table{
   
    border: thick double #32a1ce;
    td{
        border: solid; 
       font-size: large;
    }
    tr{
        border: solid;
        
    }
}